---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="CSFA 47 - Terciario">
    <main class="bg-zinc-900 h-full w-full">
        <header class="flex items-center justify-between text-white bg-zinc-800">
            <div class="flex items-center">
                <img src="/public/logo.png" class="w-32 px-5 py-2" alt="logonacio" />
                <div>
                    <h2 class="text-2xl font-medium">Colegio superior</h2>
                    <h2 class="text-2xl font-medium">Florentino Ameghino n47</h2>
                </div>
            </div>
        </header>
        <section class="m-4"></section>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 px-4 5:px-8 lg:px-6">
            <div class="col-span-2">
                <section class="">
                    <h1 class="text-2xl font-semibold">Horarios</h1>
                    <div class="text-base lg:text-lg">
                        <div class="bg-blue-500 p-4 m-4 rounded-sm" id="section-1">
                            <div class="flex justify-between items-center cursor-pointer toggle-content">
                                <h2>Diseño Gráfico y Publicitario</h2>
                                <i class="fa fa-chevron-down toggle-icon"></i>
                            </div>
                            <img
                                src="../../../public/placeholder.webp"
                                alt=""
                                class="rounded"
                                id="hiddenImage"
                                style="display: none"
                            />
                        </div>
                        <div class="bg-blue-500 p-4 m-4 rounded-sm" id="section-2">
                            <div class="flex justify-between items-center cursor-pointer toggle-content">
                                <h2>Comercialización</h2>
                                <i class="fa fa-chevron-down toggle-icon"></i>
                            </div>
                            <img
                                src="../../../public/placeholder.webp"
                                alt=""
                                class="rounded"
                                id="hiddenImage"
                                style="display: none"
                            />
                        </div>
                        <div class="bg-blue-500 p-4 m-4 rounded-sm" id="section-3">
                            <div class="flex justify-between items-center cursor-pointer toggle-content">
                                <h2>Análisis Funcional de Sistemas Informáticos</h2>
                                <i class="fa fa-chevron-down toggle-icon"></i>
                            </div>
                            <img
                                src="../../../public/placeholder.webp"
                                alt=""
                                class="rounded"
                                id="hiddenImage"
                                style="display: none"
                            />
                        </div>
                        <div class="bg-blue-500 p-4 m-4 rounded-sm" id="section-4">
                            <div class="flex justify-between items-center cursor-pointer toggle-content">
                                <h2>Infraestructura de Tecnología de la Información</h2>
                                <i class="fa fa-chevron-down toggle-icon"></i>
                            </div>
                            <img
                                src="../../../public/placeholder.webp"
                                alt=""
                                class="rounded"
                                id="hiddenImage"
                                style="display: none"
                            />
                        </div>
                    </div>
                </section>
                <section class="">
                    <h1 class="text-2xl font-semibold py-4">Mesas de Examen</h1>
                    <div class="flex flex-col font-semibold">
                        <div class="bg-blue-500 p-4 m-2 rounded-sm">
                            <a
                                href="../../../public/mesas/MESASFEBMARZO2022ANALISIS.pdf"
                                class="flex justify-between items-center cursor-pointer toggle-content"
                            >
                                <h2>MESAS FEBRERO MARZO ANÁLISIS</h2>
                                <i class="fa fa-chevron-right toggle-icon text-xl"></i>
                            </a>
                        </div>
                        <div class="bg-blue-500 p-4 m-2 rounded-sm">
                            <div class="flex justify-between items-center cursor-pointer toggle-content">
                                <h2>MESAS FEBRERO MARZO ANÁLISIS</h2>
                                <i class="fa fa-chevron-right toggle-icon text-xl"></i>
                            </div>
                        </div>
                        <div class="bg-blue-500 p-4 m-2 rounded-sm">
                            <div class="flex justify-between items-center cursor-pointer toggle-content">
                                <h2>MESAS FEBRERO MARZO ANÁLISIS</h2>
                                <i class="fa fa-chevron-right toggle-icon text-xl"></i>
                            </div>
                        </div>
                        <div class="bg-blue-500 p-4 m-2 rounded-sm">
                            <div class="flex justify-between items-center cursor-pointer toggle-content">
                                <h2>MESAS FEBRERO MARZO ANÁLISIS</h2>
                                <i class="fa fa-chevron-right toggle-icon text-xl"></i>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <section class="bg-zinc-800 text-center">
                <h1 class="text-2xl font-semibold p-4">Novedades</h1>
                <div class="flex justify-center text-3xl py-16">Próximamente</div>
            </section>
        </div>
        <div></div>
        <a href="#top" class="topHome"><i class="fa fa-chevron-up text-4xl"></i></a>
        <section class="copyright flex justify-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        2024 | CSFA47 <a target="_blank" href="#" target="HTML Templates"></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
