---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="CSFA 47 - Nucleo">
    <main class="bg-zinc-900 h-full w-full">
        <header class="flex items-center justify-between text-white bg-zinc-800">
            <div class="flex items-center">
                <div class="">
                    <img src="/public/soo.svg" class="w-32 px-4" alt="logonacio" />
                </div>
                <div>
                    <h2 class="text-2xl font-medium">Núcleo Rural N°2047</h2>
                    <h2 class="text-2xl font-medium">Campo Marinsalta</h2>
                </div>
            </div>
        </header>
        <div class="flex justify-center p-10">
            <h1 class="text-3xl">Pagina en desarrollo!</h1>
        </div>
        <div class="flex justify-center">
            <img
                src="https://www.gifsanimados.org/data/media/1356/herrero-y-obrero-metalurgico-imagen-animada-0007.gif"
                alt=""
                width="200px"
            />
        </div>
        <section id="historia" class="flex justify-center">
            <div class="container">
                <div class="row feature design">
                    <div class="six columns right pr-4">
                        <h2 class="text-3xl pb-4">Quienés somos, De dónde venimos y hacia dónde vamos</h2>
                        <div class="text-lg">
                            <p>
                                El Núcleo Rural N°2047 “Campo Marinsalta” es el único que depende del Colegio, dado que
                                desde diciembre de 2017 unifica en sus instalaciones el funcionamiento propio y el del
                                Núcleo N°1047 “Campo Torriglia” debido a la cantidad de estudiantes que concurrían a
                                ambos Núcleos y a las condiciones edilicias de los mismos.
                            </p>
                            <p>
                                A partir de 2018 se nucleó en “Campo Marinsalta”, que es el único de la zona donde se
                                dicta la orientación Agro y Ambiente
                            </p>
                            <p>
                                La disposición física de las dependencias, un edificio principal y una amplia
                                construcción adicional constituyen un espacio para el dictado de las clases. El mismo
                                padece actualmente de falencias y necesita de reparaciones, especialmente a lo referido
                                a los techos.
                            </p>
                            <p>
                                Se cuenta con comodidades tales como un equipo de climatización para el verano en un
                                único salón (el de mayores dimensiones) y calefactores eléctricos para el invierno. Con
                                respecto a los calefactores se destaca que en las mañanas más frías del invierno, debido
                                a lo antiguo de la instalación eléctrica
                            </p>

                            <p>
                                En la actualidad, asisten estudiantes no sólo de la zona rural, sino también algunos que
                                residen en la zona urbana de Cañada de Gómez en una proporción de alrededor del 80%
                            </p>

                            <p>
                                En el Núcleo se inician las actividades a las 7 de la mañana y finalizan a las 13, salvo
                                los días lunes y jueves, dado que esos días se dictan clases de Educación Física hasta
                                las 15 hs.
                            </p>
                            <p>La labor docente se orienta a trabajar valores como respeto, solidaridad y empatía.</p>
                        </div>
                    </div>
                    <div class="six columns feature-media center px-4">
                        <img src="../../public/mari2.jpg" alt="" class="rounded my-4" />
                        <img src="../../public/mari1.jpg" alt="" class="rounded my-4" />
                    </div>
                </div>
            </div>
        </section>
        <section class="mx-32 pb-10">
            <h2 class="text-4xl p-4">Objetivos</h2>
            <div class="px-32">
                <p>
                    El Colegio y el Núcleo 2047 pretenden ofrecer a sus estudiantes experiencias pedagógicas que les
                    permitan alcanzar aprendizajes significativos, que perduren a través del tiempo y es por ello que se
                    plantean los siguientes objetivos:
                </p>
                <div class="pl-12">
                    <li>
                        Capacitar a los alumnos para desempeñarse adecuadamente en los estudios superiores o en su
                        proyección laboral, reconociendo el esfuerzo como única forma de alcanzar logros
                    </li>
                    <li>
                        Desarrollar el interés por el cuidado de su propio cuerpo para prever adicciones, y cualquier
                        otra cuestión que los ubique en situación de riesgo
                    </li>
                    <li>
                        Promover en ellos un alto grado de conciencia sobre el cuidado del medio ambiente, con
                        participación y gestión en defensa del mismo
                    </li>
                </div>
            </div>
        </section>
        <section id="Ubicación" class="flex justify-center">
            <div class="">
                <div class="heading text-center font-medium">
                    <h2 class="text-4xl pt-8">Ubicación</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d837.8218212431996!2d-61.43869173043396!3d-32.86411757187727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c9dc1229519e41%3A0x29a9992c5edc0bb6!2sEscuela%20Marinsalta!5e0!3m2!1ses-419!2sar!4v1715032108247!5m2!1ses-419!2sar"
                        style="border:0px; width: 700px; height: 450px; border-radius: 8px;"
                        allowfullscreen=""
                        loading="lazy"
                        class="mx-auto mt-4"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
        <section class="copyright flex justify-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        2024 | CSFA47 <a target="_blank" href="#" target="HTML Templates"></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
