---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="CSFA 47 - Nucleo">
    <main class="bg-zinc-900 h-full w-full">
        <header class="flex items-center justify-between text-white bg-zinc-800">
            <div class="flex items-center">
                <img src="/public/logo.png" class="w-32 px-5 py-2" alt="logonacio" />
                <div>
                    <h2 class="text-2xl font-medium">Colegio superior</h2>
                    <h2 class="text-2xl font-medium">Florentino Ameghino n47</h2>
                </div>
            </div>
            <style>
                [class*='stacked--'] {
                    position: relative;
                    transition: transform 0.3s ease-in-out;
                    will-change: transform;
                }
                [class*='stacked--']:before,
                [class*='stacked--']:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: currentColor;
                    transition: transform 0.3s ease-in-out;
                    will-change: transform;
                }
                [class*='stacked--']:before {
                    z-index: -1;
                }
                [class*='stacked--']:after {
                    z-index: -2;
                }
                .stacked--up-right:hover {
                    transform: translate(5px, -5px);
                }
                .stacked--up-right:hover:before {
                    transform: translate(-5px, 5px);
                }
                .stacked--up-right:hover:after {
                    transform: translate(-10px, 10px);
                }
            </style>
        </header>
        <div class="flex justify-center p-10">
            <h1 class="text-3xl">Pagina en desarrollo!</h1>
        </div>
        <div class="flex justify-center">
            <img
                src="https://www.gifsanimados.org/data/media/1356/herrero-y-obrero-metalurgico-imagen-animada-0007.gif"
                alt=""
                width="300px"
            />
        </div>

    </main>
</Layout>
