---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="CSFA 47 - Terciario">
    <main class="bg-zinc-900 h-full w-full">
        <header class="flex items-center justify-between text-white bg-zinc-800">
            <div class="flex items-center">
                <img src="/public/logo.png" class="w-32 px-5 py-2" alt="logonacio" />
                <div>
                    <h2 class="text-2xl font-medium">Colegio  superior</h2>
                    <h2 class="text-2xl font-medium">Florentino Ameghino n47</h2>
                </div>
            </div>
        </header>
        <div class="flex justify-center p-10">
            <h1 class="text-3xl">Pagina en desarrollo!</h1>
        </div>
        <div class="flex justify-center">
            <img
                src="https://www.gifsanimados.org/data/media/1356/herrero-y-obrero-metalurgico-imagen-animada-0007.gif"
                alt=""
                width="300px"
            />
        </div>
        
<section class="p-8"> 
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/352087023_1696111047492280_8409471756166538364_n.jpg" alt="">
        </div>

        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/poggg.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/Foto de Marisa Varela (4).jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/Foto de Marisa Varela (2).jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/IMG-20240522-WA0064.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/Foto de Marisa Varela (7).jpg" alt="">
        </div>
        
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/Foto de Marisa Varela (6).jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/IMG-20240529-WA0679.jpg" alt="">
        </div>
        
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/Foto de Marisa Varela (3).jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/IMG_5647.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/WhatsApp Image 2024-06-06 at 20.05.48(3).jpeg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="../../../public/collage/IMG_5902.jpg" alt="">
        </div>
        
    </div>
</div>
</section>

    </main>
</Layout>
