---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="CSFA 47 - Secundario">
    <main class="bg-zinc-900 h-full w-full">
        <header class="flex items-center justify-between text-white bg-zinc-800">
            <div class="flex items-center">
                <img src="/public/logo.png" class="w-32 px-5 py-2" alt="logonacio" />
                <div>
                    <h2 class="text-2xl font-medium">Colegio superior</h2>
                    <h2 class="text-2xl font-medium">Florentino Ameghino n47</h2>
                </div>
            </div>
        </header>
        <div class="flex justify-center p-10">
            <h1 class="text-3xl">Pagina en desarrollo!</h1>
        </div>
        <div class="flex justify-center">
            <img
                src="https://www.gifsanimados.org/data/media/1356/herrero-y-obrero-metalurgico-imagen-animada-0007.gif"
                alt=""
                width="300px"
            />
        </div>
        <section class="m-10">
            <div class="pt-10">
                <h1 class="text-2xl font-semibold py-2 text-orange-400">Estructuras Curriculares - 3er. Año</h1>
                <div class="grid grid-cols-1 lg:grid-cols-4 divide-y divide-gray-300 lg:divide-y-0 lg:divide-x">
                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Economía y Administración</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía e Identidad</li>
                            <li>Física</li>
                            <li>Historia</li>
                            <li>Geografía</li>
                            <li>Biología</li>
                            <li>Educación Artística</li>
                            <li class="text-orange-400">Administración</li>
                        </ul>
                    </div>

                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Arte - Artes Audiovisuales</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía e Identidad</li>
                            <li>Física</li>
                            <li>Historia</li>
                            <li>Geografía</li>
                            <li>Biología</li>
                            <li>Educación Artística</li>
                            <li class="text-orange-400">Lenguaje y Producción Audiovisual</li>
                        </ul>
                    </div>

                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Ciencias Sociales y Humanidades</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía e Identidad</li>
                            <li>Física</li>
                            <li>Historia</li>
                            <li>Geografía</li>
                            <li>Biología</li>
                            <li>Educación Artística</li>
                            <li class="text-orange-400">Economía</li>
                        </ul>
                    </div>

                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Ciencias Naturales</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía e Identidad</li>
                            <li>Física</li>
                            <li>Historia</li>
                            <li>Geografía</li>
                            <li>Biología</li>
                            <li>Educación Artística</li>
                            <li class="text-orange-400">Química</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pt-10">
                <h1 class="text-2xl font-semibold py-2 text-orange-400">Estructuras Curriculares - 4to. Año</h1>
                <div class="grid grid-cols-1 lg:grid-cols-4 divide-y divide-gray-300 lg:divide-y-0 lg:divide-x">
                    <!-- Cuarto Año - Economía y Administración -->
                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Economía y Administración (4to Año)</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Química</li>
                            <li>Historia</li>
                            <li>Geografía</li>
                            <li class="text-orange-400">Derecho y Construcción de Ciudadanía</li>
                            <li class="text-orange-400">Sistemas de Información Contable</li>
                            <li class="text-orange-400">Economía</li>
                            <li class="text-orange-400">Administración</li>
                        </ul>
                    </div>

                    <!-- Cuarto Año - Arte - Artes Audiovisuales -->
                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Arte - Artes Audiovisuales (4to Año)</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía y Participación</li>
                            <li>Química</li>
                            <li>Historia</li>
                            <li class="text-orange-400">Artes Audiovisuales y Contexto</li>
                            <li class="text-orange-400">Leng. Art. Comp.: Danza</li>
                            <li class="text-orange-400">Leng. Art. Comp.: Artes Visuales</li>
                            <li class="text-orange-400">Lenguaje y Producción Audiovisual</li>
                        </ul>
                    </div>

                    <!-- Cuarto Año - Ciencias Sociales y Humanidades -->
                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Ciencias Sociales y Humanidades (4to Año)</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía y Participación</li>
                            <li>Química</li>
                            <li>Historia</li>
                            <li>Geografía</li>
                            <li class="text-orange-400">Sociología</li>
                            <li class="text-orange-400">Problemática Educativa</li>
                            <li class="text-orange-400">Psicología</li>
                        </ul>
                    </div>

                    <!-- Cuarto Año - Ciencias Naturales -->
                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Ciencias Naturales (4to Año)</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía y Participación</li>
                            <li>Física</li>
                            <li>Historia</li>
                            <li>Geografía</li>
                            <li class="text-orange-400">Biología</li>
                            <li class="text-orange-400">Salud y Adolescencia</li>
                            <li class="text-orange-400">Química</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pt-10">
                <h1 class="text-2xl font-semibold py-2 text-orange-400">Estructuras Curriculares - 5to. Año</h1>
                <div class="grid grid-cols-1 lg:grid-cols-4 divide-y divide-gray-300 lg:divide-y-0 lg:divide-x">
                    <!-- Quinto Año - Economía y Administración -->
                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Economía y Administración (5to Año)</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía y Derechos</li>
                            <li>Filosofía</li>
                            <li class="text-orange-400">Derecho</li>
                            <li class="text-orange-400">Orientación en Contextos Laborales</li>
                            <li class="text-orange-400">Sistemas de Información Contable</li>
                            <li class="text-orange-400">Economía</li>
                            <li class="text-orange-400">Administración</li>
                        </ul>
                    </div>

                    <!-- Quinto Año - Arte - Artes Audiovisuales -->
                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Arte - Artes Audiovisuales (5to Año)</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía y Derechos</li>
                            <li>Filosofía</li>
                            <li class="text-orange-400">Artes Audiovisuales y Contexto</li>
                            <li class="text-orange-400">Taller de Integración de Lenguajes Artísticos</li>
                            <li class="text-orange-400">Leng. Art. Comp.: Música</li>
                            <li class="text-orange-400">Orientación en Contextos Laborales</li>
                            <li class="text-orange-400">Lenguaje y Producción Audiovisual</li>
                        </ul>
                    </div>

                    <!-- Quinto Año - Ciencias Sociales y Humanidades -->
                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Ciencias Sociales y Humanidades (5to Año)</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía y Derechos</li>
                            <li>Filosofía</li>
                            <li class="text-orange-400">Historia</li>
                            <li class="text-orange-400">Ciencias de la Comunicación</li>
                            <li class="text-orange-400">Problemática Educativa</li>
                            <li class="text-orange-400">Seminario de Investigación de Problemas Contemporáneos</li>
                            <li class="text-orange-400">Orientación en Contextos Laborales</li>
                        </ul>
                    </div>

                    <!-- Quinto Año - Ciencias Naturales -->
                    <div class="p-4">
                        <h2 class="font-bold text-center mb-4">Ciencias Naturales (5to Año)</h2>
                        <ul class="list-disc list-inside">
                            <li>Lengua y Literatura</li>
                            <li>Matemática</li>
                            <li>Lengua Extranjera</li>
                            <li>Educación Física</li>
                            <li>Construcción de Ciudadanía y Derechos</li>
                            <li>Filosofía</li>
                            <li class="text-orange-400">Ciencias de la Tierra</li>
                            <li class="text-orange-400">Orientación en Contextos Laborales</li>
                            <li class="text-orange-400">Biología</li>
                            <li class="text-orange-400">Salud y Ambiente</li>
                            <li class="text-orange-400">Química</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="copyright flex justify-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        2024 | CSFA47 <a target="_blank" href="#" target="HTML Templates"></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
