---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="CSFA 47">
	<main class="bg-slate-800 h-screen w-full">
		<Header />
		<section class="flex justify-center">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
				<div class="bg-orange-500 rounded-lg m-2 text-center pb-2">
					<div class="bg-orange-600 rounded-lg px-4 py-1">
						<h2 class="text-lg font-bold">Secuandario</h2>
					</div>
					<p>texto...</p>
					<div class="bg-neutral-100 rounded-lg border-2 border-gray-900 inline-block px-2">
						<a href="/terciario/">Saber Mas</a>
					</div>
				</div>
				<div class="bg-blue-500 rounded-lg m-2 text-center pb-2">
					<div class="bg-blue-600 rounded-lg px-4 py-1">
						<h2 class="text-lg font-bold">Terciario</h2>
					</div>
					<p>texto...</p>
					<div class="bg-neutral-100 rounded-lg border-2 border-gray-900 inline-block px-2">
						<a href="/terciario/">Saber Mas</a>
					</div>
				</div>
				<div class="bg-green-500 rounded-lg m-2 text-center pb-2">
					<div class="bg-green-600 rounded-lg px-4 py-1">
						<h2 class="text-lg font-bold">Nucleo Rural</h2>
					</div>
					<p>texto...</p>
					<div class="bg-neutral-100 rounded-lg border-2 border-gray-900 inline-block px-2">
						<a href="/terciario/">Saber Mas</a>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
