---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import NivelesEducativos from '../components/NivelesEducativos.astro';
import { Image } from 'astro:assets';
---

<Layout title="CSFA 47">
	<main class="bg-zinc-900 h-full w-full">
		<Header />
		<h1 class="text-5xl font-bold p-4 text-center py-8">Bienvenidos!!!</h1>
		<p class="px-12 text-center text-stone-300 pb-4">
			Estar "juntos" en las Instituciones es todo más fácil, esto significa conocer, compartir, actuar
			colaborativamente y cooperativamente, es saber como trabajan nuestros pares y, como interactuan nuestros
			estudiantes.
		</p>
		<NivelesEducativos />
		<hr class="border-gray-500" />
		<section id="historia" class="flex justify-center">
			<div class="container">
				<div class="row feature design">
					<div class="six columns right pr-4">
						<h2 class="text-4xl">Somos "EL NACIO"!!!</h2>
						<p class="text-xl">
							El Colegio Superior Nº 47 “Florentino Ameghino” tiene una larga trayectoria en nuestra
							ciudad y la zona. En 1930, Don Alfredo Saybene, propuso la creación de un Instituto de
							Enseñanza Media que posibilitara a los jóvenes cursar el Bachillerato sin necesidad de
							trasladarse a Rosario. En 1931 inicia sus actividades con el nombre de Instituto Incorporado
							Florentino Ameghino y, en 1936, toma el nombre de Colegio Nacional, identidad que marca a la
							Institución como “EL NACIO”, a través de innumerables generaciones de jóvenes.
						</p>
					</div>
					<div class="six columns feature-media center px-4">
						<img src="../../public/cole1.jpg" alt="" class="rounded" />
					</div>
				</div>
			</div>
		</section>
		<section id="Contacto" class="">
			<hr class="border-gray-500" />
			<div class="flex justify-center">
				<div class="container">
					<div class="row">
						<div class="heading text-center">
							<h2 class="text-5xl pt-8">Contacto</h2>

							<p class="text-xl">Teléfono: 03471-422131</p>
							<div class="container">
								<div class="social text-center">
									<a href="https://www.instagram.com/nacioterciario/"
										><i class="fa-brands fa-instagram"></i></a
									>
									<a href="https://www.facebook.com/nacioterciario"
										><i class="fa-brands fa-facebook-f"></i></a
									>
									<a href="https://api.whatsapp.com/send?phone=3471317470"
										><i class="fa-brands fa-whatsapp"></i></a
									>
									<a href="mailto:nacioterciario@gmail.com"><i class="fa-regular fa-envelope"></i></a>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<section id="Radio" class="">
				<hr class="border-gray-500" />
				<div class="text-center p-8">
					<h3 class="text-4xl p-4 text-center">FM NACIO 88.9 Mhz</h3>
					<p>Somos la radio del Colegio Florentino Ameghino</p>
					<div class="flex items-center justify-center align-center">
						<img src="../../../public/FwRmR.png" alt="" class="h-32 pr-6" />
						<audio controls>
							<source src="https://https.nvradios.com/radio/9464/radio.mp3" type="audio/mpeg" />
						</audio>
					</div>
					<div></div>
					<div class="clear"></div>
				</div>
			</section>
			<hr class="border-gray-500" />
		</section>
		<section id="Ubicación" class="flex justify-center">
			<div class="">
				<div class="heading text-center font-medium">
					<h2 class="text-5xl pt-8">Ubicación</h2>
					<a
						class="text-xl text-slate-400 hover:text-blue-300"
						href="https://maps.app.goo.gl/X9s8sBLVx8mFJZPw9"
						>Dirección: Bv. Centenario 1075, Cañada de Gómez, CP 2500, Santa Fe, Argentina</a
					>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1725.7303366654573!2d-61.39661786886186!3d-32.81336212970648!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbe9627b758d33422!2sCOLEGIO%20SUPERIOR%20N%C2%B047%20FLORENTINO%20AMEGHINO!5e0!3m2!1ses-419!2sar!4v1635517313794!5m2!1ses-419!2sar"
						style="border:0px; width: 700px; height: 450px; border-radius: 8px;"
						allowfullscreen=""
						loading="lazy"
						class="mx-auto mt-4"></iframe>
				</div>
			</div>
		</section>
		<a href="#top" class="topHome"><i class="fa fa-chevron-up text-4xl"></i></a>
		<section class="copyright flex justify-center">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						2024 | CSFA47 <a target="_blank" href="#" target="HTML Templates"></a>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
