<div class="bg-slate-800">
    <header class="flex items-center justify-between text-white">
        <div class="flex items-center">
            <img src="logo.png" class="w-32 px-5 py-2" alt="logonacio" />
            <div>
                <h2 class="text-2xl font-medium">Colegio superior</h2>
                <h2 class="text-2xl font-medium">Florentino Ameghino n47</h2>
            </div>
        </div>
        <nav class="flex p-2">
            <ul>
                <li>
                    <a
                        href="#"
                        class="text-sm font-bold px-6 py-2 mx-8 hover:bg-gray-900 hover:border-b-2 hover:border-white hover:rounded transition duration-400 ease-in-out"
                    >
                        Carreras</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="text-sm font-bold px-6 py-2 mx-8 hover:bg-gray-900 hover:border-b-2 hover:border-white hover:rounded transition duration-400 ease-in-out"
                    >
                        Historia</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="text-sm font-bold px-6 py-2 mx-8 hover:bg-gray-900 hover:border-b-2 hover:border-white hover:rounded transition duration-400 ease-in-out"
                    >
                        Contacto</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="text-sm font-bold px-6 py-2 mx-8 hover:bg-gray-900 hover:border-b-2 hover:border-white hover:rounded transition duration-400 ease-in-out"
                    >
                        Ubicación</a
                    >
                </li>
            </ul>
        </nav>
    </header>
    <hr class="border-gray-600" />
</div>
