<!-- <div class="sticky top-0 w-full z-10"> -->
<div>
    <header class="flex items-center justify-between text-white bg-zinc-800">
        <div class="flex items-center">
            <img src="logo.png" class="w-32 px-5 py-2" alt="logonacio" />
            <div>
                <h2 class="text-2xl font-medium">Colegio superior</h2>
                <h2 class="text-2xl font-medium">Florentino Ameghino n47</h2>
            </div>
        </div>
        <nav class="self-end">
            <ul class="flex p-2 [&>li>a]:px-8 scroll-pt-2.5">
                <li class="active" id="firstLink"><a href="#Niveles" class="scroll-pt-2.5">Niveles</a></li>
                <li><a href="#historia" class="">Historia</a></li>
                <li><a href="#Contacto" class="">Contacto</a></li>
                <li><a href="#Ubicación" class="">Ubicación</a></li>
            </ul>
        </nav>

    </header>
    <hr class="border-gray-500" />
</div>
