<div style="background-color: #2D3748;">
  <header class="flex items-center">
      <a href="#" class="flex items-center">
          <img src="logo.png" class="w-40 pr-5 px-5 pt-2" alt="logonacio">
          <div>
              <h2 class="text-2xl font-mono font-medium text-white" onmouseover="this.style.color='yellow'" onmouseout="this.style.color='white'">Colegio superior</h2>
              <div class="scroll-mt-2 relative"> 
                  <h2 class="text-2xl font-mono font-medium text-white" onmouseover="this.style.color='yellow'"><span class="relative inline-block" onmouseover="this.style.color='yellow'" onmouseout="this.style.color='white'">Florentino Ameghino n47</span></h2>
                  <!-- linea abajo de florentino amaeghino n47 -->
                  <div class="absolute bottom-[-5px] left-1/2 bg-white h-0.5 w-48 transform -translate-x-1/2"></div>
              </div>
          </div>
      </a>
  </header>
  <nav class="flex justify-end mr-4 pb-2">
      <a href="#" class="text-lg font-mono font-bold text-2xl font-medium text-white px-6 py-2 mx-8 hover:bg-gray-900 hover:border-b-2 hover:border-white hover:rounded transition duration-400 ease-in-out">Contacto</a>
      <a href="#" class="text-lg font-mono font-bold text-2xl font-medium text-white px-6 py-2 mx-8 hover:bg-gray-900 hover:border-b-2 hover:border-white hover:rounded transition duration-400 ease-in-out">Historia</a>
      <a href="#" class="text-lg font-mono font-bold text-2xl font-medium text-white px-6 py-2 mx-8 hover:bg-gray-900 hover:border-b-2 hover:border-white hover:rounded transition duration-400 ease-in-out">Redes sociales</a>
      <a href="#" class="text-lg font-mono font-bold text-2xl font-medium text-white px-6 py-2 mx-8 hover:bg-gray-900 hover:border-b-2 hover:border-white hover:rounded transition duration-400 ease-in-out">Inscripción</a>
      <a href="#" class="text-lg font-mono font-bold text-2xl font-medium text-white px-6 py-2 mx-8 hover:bg-gray-900 hover:border-b-2 hover:border-white hover:rounded transition duration-400 ease-in-out">Ubicación</a> 
  </nav>
  <hr class="border-gray-600">
</div>
