<section class="flex justify-center text-white pb-8" id="Niveles">
    <div class="grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-2 gap-8 px-4 xl:px-8 lg:px-6">
        <div
            class="bg-orange-500 rounded-md m-2 text-center pb-2 max-w-2xl flex flex-col relative transform transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg"
        >
            <!-- Contenido de tu tarjeta -->
            <div class="bg-orange-600 rounded-md px-4 py-1">
                <h2 class="text-lg font-bold">Secundario</h2>
            </div>
            <div class="p-4 text-left">
                <p class="text-white py-2">
                    Al tercer año de secundario se puede optar por una de las modalidades, además, estudiar una lengua
                    extranjera entre inglés, francés, italiano y portugués.
                </p>
                <div class="p-4">
                    <img src="../../public/placeholder.webp" alt="" class="rounded" />
                </div>
                <h3 class="font-medium">Modalidades:</h3>
                <div class="pl-4">
                    <li>Economía y administración</li>
                    <li>Artes audiovisuales</li>
                    <li>Ciencia naturales</li>
                    <li>Ciencias sociales y humanidades</li>
                </div>
            </div>
            <div class="mt-auto">
                <div class="flex justify-between items-center mx-4">
                    <div>
                        <div class="bg-slate-950 rounded-xl inline-block px-2 py-1 font-bold text-2xl">
                            <a href="https://api.whatsapp.com/send?phone=3471317470">
                                <i class="hover:text-yellow-300 fa-brands fa-whatsapp px-2"></i>
                            </a>
                            <a href="https://www.instagram.com/nacioterciario/">
                                <i class="hover:text-yellow-300 fa-brands fa-instagram px-2"></i>
                            </a>
                        </div>
                    </div>

                    <div class="inline-block content-center px-2 font-bold text-6xl">
                        <a href="/secundario/"><img src="../../public/arrow.svg" /></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-blue-600 rounded-md m-2 text-center pb-2 max-w-2xl flex flex-col">
            <div class="bg-blue-700 rounded-md px-4 py-1">
                <h2 class="text-lg font-bold">Terciario</h2>
            </div>
            <div class="p-4 text-left">
                <p class="text-white py-2">
                    Preparamos a nuestros estudiantes para contribuir significativamente en áreas como el diseño, la
                    tecnología y el comercio. Fomentamos la innovación y el desarrollo, empoderando a nuestros egresados
                    para que impacten positivamente en sus comunidades.
                </p>
                <div class="px-4">
                    <img src="../../public/placeholder.webp" alt="" class="rounded" />
                </div>
                <h3 class="font-medium pt-4">Contamos con las siguientes carreras:</h3>
                <div class="pl-4 pb-4">
                    <li>Diseño Gráfico y Publicitario</li>
                    <li>Comercialización</li>
                    <li>Análisis Funcional de Sistemas Informáticos</li>
                    <li>Infraestructura de Tecnología de la Información</li>
                </div>
            </div>
            <div class="mt-auto">
                <div class="flex justify-between items-center mx-4">
                    <div>
                        <div class="bg-slate-950 rounded-xl inline-block px-2 py-1 font-bold text-2xl">
                            <a href="https://api.whatsapp.com/send?phone=3471317470"
                                ><i class="hover:text-yellow-300 fa-brands fa-whatsapp px-2"></i></a
                            >
                            <a href="https://www.instagram.com/nacioterciario/"
                                ><i class="hover:text-yellow-300 fa-brands fa-instagram px-2"></i></a
                            >
                        </div>
                    </div>
                    <div class="inline-block content-center px-2 font-bold text-xl">
                        <!-- <a
                            href="/terciario/"
                            class="bg-neutral-100 rounded-xl border-[3px] border-gray-950 text-black hover:bg-black hover:border-black hover:text-white duration-150 px-2 py-1"
                            >Saber Mas</a
                        > -->
                        <div class="inline-block content-center px-2 font-bold text-6xl">
                            <a href="/terciario/"><img src="../../public/arrow.svg" /> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-green-600 rounded-md m-2 text-center pb-2 max-w-2xl flex flex-col">
            <div class="bg-green-700 rounded-md px-4 py-1">
                <h2 class="text-lg font-bold">Nucleo Rural</h2>
            </div>
            <div class="p-4 text-left">
                <p class="text-white py-2">
                    El Núcleo Rural N°2047 “Campo Marinsalta” desde diciembre de 2017 unifica en sus instalaciones el
                    funcionamiento propio y el del Núcleo N°1047 “Campo Torriglia”.
                </p>
                <div class="p-4">
                    <img src="../../public/placeholder.webp" alt="" class="rounded" />
                </div>
                <p class="text-white py-2">
                    Tiene como objetivo principal ofrecer experiencias pedagógicas que fomenten aprendizajes
                    significativos, capacitando a los estudiantes para su futuro académico y laboral, promoviendo el
                    cuidado de su salud y la conciencia ambiental.
                </p>
            </div>
            <div class="mt-auto">
                <div class="flex justify-between items-center mx-4">
                    <div>
                        <div class="bg-slate-950 rounded-xl inline-block px-2 py-1 font-bold text-2xl">
                            <a href="https://api.whatsapp.com/send?phone=3471317470"
                                ><i class="hover:text-yellow-300 fa-brands fa-whatsapp px-2"></i></a
                            >
                            <a href="https://www.instagram.com/nacioterciario/"
                                ><i class="hover:text-yellow-300 fa-brands fa-instagram px-2"></i></a
                            >
                        </div>
                    </div>
                    <div class="inline-block content-center px-2 font-bold text-xl">
                        <div class="inline-block content-center px-2 font-bold text-6xl">
                            <a href="/nucleo/"><img src="../../public/arrow.svg" /> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
