---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="/src/css/styles.css" />
		<link href="/src/css/animate.css" rel="stylesheet" media="screen" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
	</head>
	<body>
		<slot />
		<script src="/src/components/scripts.js" type="text/javascript"></script>
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>

<style is:global>
	* {
		scroll-behavior: smooth;
		p {
			margin: 0 0 1em !important;
		}
		audio {
			width: 200px;
			height: 50px;
		}
	}
	::selection {
		color: #fff;
		background: #ffd500;
	}

	::-moz-selection {
		color: #fff;
		background: #ffd500;
	}

	#historia p {
		color: #fff;
	}

	#historia .feature {
		margin-top: 30px;
		margin-bottom: 54px;
	}

	#historia .right {
		padding-left: 32px;
		float: right;
	}

	#historia .left {
		padding-right: 32px;
		float: left;
	}

	#historia h3 {
		font: 18px/34px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #222;
	}

	#historia .left {
		padding-right: 32px;
		float: left;
	}

	#historia .right {
		float: right;
	}
</style>
